{% extends "::base.html.twig" %}

{% block body %}

    <header>

      <a href="{{ path('home') }}">
        <h1>Your prismic.io project</h1>
      </a>

    </header>

    {% block content %}{% endblock %}

{% endblock %}
