{% extends "PrismicBundle::layout.html.twig" %}

{% block content %}

    <form action="{{ path('search') }}" method="GET">
        <input type="text" name="q" value="">
        <input type="submit" value="Search">
    </form>

    <hr>

    <h2>
        {% if docs.totalResultsSize == 1 %}
            One document found
        {% elseif docs.totalResultsSize > 0 %}
            {{ docs.totalResultsSize }} documents found
        {% else %}
            No documents found
        {% endif %}
    </h2>

    <ul>
        {% for doc in docs.results %}
            <li>
                <a href="{{ path('detail', {'id': doc.getId, 'slug': doc.slug }) }}">
                    {{ doc.slug }}
                </a>
            </li>
        {% endfor %}
    </ul>

    {% include 'PrismicBundle::pagination.html.twig' %}

{% endblock %}
