{% extends "PrismicBundle::layout.html.twig" %}

{% block content %}

    <h2>
        {% if docs.totalResultsSize == 1 %}
            One document found
        {% elseif docs.totalResultsSize > 0 %}
            {{ docs.totalResultsSize }} documents found
        {% else %}
            No results
        {% endif %}
    </h2>

    <ul>
        {% for doc in docs.results %}
            <li>
                <a href="{{ ctx.resolveLink(doc) }}">
                    {{ doc.slug }}
                </a>
            </li>
        {% endfor %}
    </ul>

    {% include 'PrismicBundle::pagination.html.twig' %}

{% endblock %}
